
.jumbotron_custom {
    background-color: rgba(255,255,255,0.8);
    margin-top: 5px;
    border-style: solid ;
    border-color: rgba(1,1,1,0.2);
    border-width: 1px;

}

.link {
    color: #8fd8d2;
    font-weight: bold;
}
.link:hover {
    color: #d9455f;
    font-weight: bold;
}

.text {
    font-weight: bold;

}