.navbar-custom {
    background-color: #F1E2E4;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgba(1,1,1,0.2);
    transition: top 0.6s;
}

.dropdown-toggle::after {
    display:none;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.5);
}

.navbar-custom .navbar-brand:hover {
    color: rgba(255,255,255,.4);
}

/* change the link color */
.nav-link {
    font-family: Varela;
    font-size:18px;
    color: #7C8992
}
.nav-link:hover {
    font-family: Varela;
    color: #d89fa7
}
